#Verification

120 passing (1s)


| File                                        | % Stmts    | % Branch   | % Funcs    | % Lines    | Uncovered Line #s   |      |
| ------------------------------------------- | ---------- | ---------- | ---------- | ---------- | ------------------- | ---- |
| All files                                   | 97.73      | 91.3       | 100        | 97.73      |                     |      |
| topcoder-challenge-api-wrapper              | 97.44      | 83.33      | 100        | 97.44      |                     |      |
| index.js                                    | 97.44      | 83.33      | 100        | 97.44      | 85                  |      |
| topcoder-challenge-api-wrapper/src          | 100        | 100        | 100        | 100        |                     |      |
| ChallengePhasesApi.js                       | 100        | 100        | 100        | 100        |                     |      |
| ChallengeSettingsApi.js                     | 100        | 100        | 100        | 100        |                     |      |
| ChallengeTypesApi.js                        | 100        | 100        | 100        | 100        |                     |      |
| ChallengesApi.js                            | 100        | 100        | 100        | 100        |                     |      |
| topcoder-challenge-api-wrapper/src/common   | 95.12      | 85         | 100        | 95.12      |                     |      |
| constants.js                                | 100        | 100        | 100        | 100        |                     |      |
| helper.js                                   | 95         | 85         | 100        | 95         | 105,133             |      |

