#Verification

  208 passing (4s)

File                                       |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s
-------------------------------------------|----------|----------|----------|----------|-------------------
All files                                  |    98.91 |    95.16 |      100 |    98.91 |
 topcoder-challenge-api-wrapper            |      100 |      100 |      100 |      100 |
  index.js                                 |      100 |      100 |      100 |      100 |
 topcoder-challenge-api-wrapper/src        |      100 |      100 |      100 |      100 |
  ChallengeAttachmentsApi.js               |      100 |      100 |      100 |      100 |
  ChallengeAuditLogsApi.js                 |      100 |      100 |      100 |      100 |
  ChallengePhasesApi.js                    |      100 |      100 |      100 |      100 |
  ChallengeSettingsApi.js                  |      100 |      100 |      100 |      100 |
  ChallengeTypesApi.js                     |      100 |      100 |      100 |      100 |
  ChallengesApi.js                         |      100 |      100 |      100 |      100 |
  TimelineTemplatesApi.js                  |      100 |      100 |      100 |      100 |
 topcoder-challenge-api-wrapper/src/common |    96.49 |    88.89 |      100 |    96.49 |
  constants.js                             |      100 |      100 |      100 |      100 |
  helper.js                                |    96.43 |    88.89 |      100 |    96.43 |           105,133
